body {
  background-color: bisque;
}



/* NAV */
.dropdown-item {
  font-family: monospace;
  color: yellow;
  font-size: medium;
  background-color: black;
 
}

.dropdown-menu {
  position: 0;
  padding: 0;
  margin: 0;
  
}

/* Header*/

.container {
  display: grid;
  grid-template-columns: 
  repeat(4, 1fr);
}