/* NAV */
.dropdown-item {
  font-family: monospace;
  color: yellow;
  font-size: medium;
  background-color: black;
 
}

.dropdown-menu {
  position: 0;
  padding: 0;
  margin: 0;
  
}

/* Header*/

.grid-container {
  display: grid;
  gap: 20px;
  
}





